* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #078E70;
    width: 100%;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    overflow-x: hidden;
}

section {
    background: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding: 25px 0px;
}

footer {
    min-height: 20vh;
    background-color: #078E70;
    display: flex;
    justify-content: center;
    padding: 30px 80px;
    color: white;
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}
