#divHearts {
    margin-top: 30px;
}

#divImagem {
    padding: 30px;    
}

#divButtons {
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}