p {
    width: 100%;
    text-align: start;
}

h3 {
    margin: 15px 0px;
}

button {
    width: 100px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #24CEAA;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

button:hover {
    cursor: pointer;
    background-color: #F9BA6F;
}

#section-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    gap: 35px;
}

#divImagem {
    width: 100%;
    display: flex;
    justify-content: center;
}

#divLivros {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#divEbooks {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#div-resultados {
    width: 80%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 20px;
}